* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 830px;
}

main {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.menu_start {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}

.menu_top {
    display: flex;
    height: 480px;
    margin-left: 20px;
}

.menu_bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.MT_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.mid {
    width: 910px;
    background-color: aliceblue;
}

.mid_header {
    margin: 30px 40px 0px 40px;
    color: black;
}

.mid_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid_title button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 38px;
    color: #f22128;
    border: 1px solid currentColor;
    border-radius: 32px;
    font-size: 14px;
    background-color: white;
}

.mid_title button p {
    color: #f22128;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #f22128;
    border-radius: 5px;
}

.mid_inftime {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.mid_inftime button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 28px;
    color: white;
    border: 1px solid #e34d73;
    background-color: #e34d73;
    border-radius: 32px;
    font-size: 12px;
    padding: 6px;
}

.mid_meeting {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.mid_meeting_main {
    position: relative;
}

.mid_meeting_main_name {
    left: 25px;
    top: 15px;
    background-color: #727477;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #e0e0e1;
    position: absolute;
}

.mid_meeting_main_name p {
    color: #1dd75b;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #1dd75b;
    border-radius: 5px;
}

.mid_meeting_main_mic {
    right: 25px;
    top: 15px;
    position: absolute;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 4px;
}

.mid_meeting_participants_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.mid_meeting_participants_list li {
    position: relative;
    list-style-type: none;
}

.mid_meeting_participants_name {
    width: 111px;
    height: 25px;
    font-size: 12px;
}

.mid_meeting_participants_mic {
    right: 8px;
    top: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 4px;
}

.mid_meeting_participants_name {
    left: 8px;
    top: 10px;
    background-color: #727477;
    width: 111px;
    height: 25px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #e0e0e1;
    position: absolute;
}

.mid_meeting_participants_name p {
    color: #1dd75b;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #1dd75b;
    border-radius: 5px;
}

.mid_meeting_btn {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.mid_meeting_btn_item {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 4px;
    margin: 0px 9px;
}

.mid_meeting_btn_item_end_meeting {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 4px;
    margin: 0px 9px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 45px;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-size: 17px;
}

.right {
    width: 440px;
}

.right_participant {
    border-bottom: 2px solid #eff1f3;
    padding: 30px 16px 30px 32px;
}

.right_participant_hearder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.right_participant_hearder_left {
    display: flex;
    align-items: center;
}

.right_participant_hearder_left span {
    width: 20px;
    height: 25px;
    font-size: 10px;
    color: #e34d73;
    padding: 6px 7px;
    background-color: rgba(227, 77, 115, 0.1);
    border-radius: 16px;
    margin-left: 4px;
}

.right_participant_hearder button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 35px;
    color: #f22128;
    border: 1px solid currentColor;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
}

.right_participant_detail_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_participant_detail_user_inf {
    display: flex;
    align-items: center;
}

.right_participant_detail_user_act {
    display: flex;
    align-items: center;
}