* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 830px;
}

main {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

.menu_start {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}

.menu_top {
    display: flex;
    height: 480px;
    margin-left: 20px;
}

.menu_bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.MT_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.mid {
    width: 910px;
    background-color: aliceblue;
}

.mid_header {
    margin: 30px 40px 0px 40px;
    color: black;
}

.mid_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid_title button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 38px;
    color: #f22128;
    border: 1px solid currentColor;
    border-radius: 32px;
    font-size: 14px;
}

.mid_title button p {
    color: #f22128;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #f22128;
    border-radius: 5px;
}

.mid_inftime {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.mid_inftime button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 28px;
    color: white;
    border: 1px solid #e34d73;
    background-color: #e34d73;
    border-radius: 32px;
    font-size: 12px;
    padding: 6px;
}

.mid_meeting {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.mid_meeting_main {
    position: relative;
}

.mid_meeting_main_name {
    left: 25px;
    top: 15px;
    background-color: #727477;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #e0e0e1;
    position: absolute;
}

.mid_meeting_main_name p {
    color: #1dd75b;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #1dd75b;
    border-radius: 5px;
}

.mid_meeting_main button {
    right: 25px;
    top: 15px;
    position: absolute;
}